@font-face {
    font-family: Designosaur;
    src: url(./fonts/Designosaur-Regular.ttf)
}

body {
    font-family: Arial, sans-serif;
}

#header{
    background-color: #FFFFFF;
}

#slider{
    background-color: #fcfcfc;
}

.icon{
    opacity: 0.3;
}
.icon-list{
    width: 16px;
    height: 16px;
}


h1{
    font-family: 'Designosaur';
    font-size: 32pt;
}

h3 {
    font-size: 16pt;
    font-family: 'Designosaur';
    color: #cecece;
}

h2{
    font-family: 'Designosaur';
    font-size: 16pt;
}

p{
    font-size: 12pt;
    color: #8c8c8c;
}

#header-phone{
    color: #cd2027;
    font-size: 16pt;
    font-family: 'Designosaur';
}

#header{
    padding-top: 10px;
    padding-bottom: 10px;
}

.section{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}


.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#prev-button {
    left: 10px;
}

#next-button {
    right: 10px;
}

#service{
    padding-right: 50px;
    padding-left: 30px;
}

#feature{
    padding-left: 60px;
}

.list-text{
    color: #dd8c5c;
    font-size: 12pt;
    padding: 0;
    margin: 0;
}

#feature-list-item{
    margin-bottom: 30px;
}

#feature-list{
    padding-left: 60px;
}

#screenshot-list{
    padding-top: 20px;
    padding-bottom: 0px;
}

.text-box{
    background-image: url('./images/speech-bubble.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 191px;
    color: white;
    margin-top: 20px;
}

.testimonial-text{
    font-size: 18pt;
    color: #8c8c8c;
    font-style: italic;
}

.testimonial-person{
    padding-left: 50px;
}
#prefooter{
    padding: 0;
    border-width: 0px;
}

#prefooter-background {
    background-image: url('./images/bg_prefooter.png');
    background-size: cover;
    color: black;
}

#prefooter-background-lit {
    background-image: url('./images/lit.png');
    background-size: cover;
    color: black;
    padding: 20px;
    padding-bottom: 20px;
}

.prefooter-text{
    line-height: 18pt;
    margin-bottom: 0;
}

.payment-list{
    margin-top: 10px;
}

.payment-icon{
    margin-right: 10px;
}

#footer {
    padding: 0;
}

#footer-background{
    background-image: url('./images/bg_footer.png');
    background-size: cover;
    border-width: 0px;
    padding: 10px;
    padding-left: 20px;
}

#footer-icon-list{
    padding-right: 40px;
}

.round-button{
    border: none;
    color: white;
    border-radius: 25px 25px 25px 25px;
    width: 200px;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#purchase-button{
    background: linear-gradient(to bottom, #ff9700, #ff5400);
    color: #ca4500;
    font-size: 14pt;
    font-family: 'Designosaur';
}

#take-tour-button{
    background: linear-gradient(to bottom, #f2f2f2, #cacaca);
        color: #838383;
        font-size: 14pt;
    width: 150px;
        font-family: 'Designosaur';
}

#button-or-text{
    margin: 0px;
    padding: 0px; 
}


.carousel-control-prev-icon {
    background-image: url('./images/icon_slider_arrow.png');
    width: 40px;
    height: 40px;
}

.carousel-control-next-icon {
    background-image: url('./images/icon_slider_arrow.png');
    transform: scaleX(-1);
    width: 40px;
    height: 40px;
}

#slider-picture {
    position: relative;
}

#slider-image{
    padding-left: 50px;
    padding-right: 50px;
}